---
layout: layout-subpage
stylesheets:
  - /static/css/neuigkeiten.css
backgroundColor: bg-sky-50
navigation:
  activeItem: neuigkeiten
---

{{#if draft}}
	<div class="fixed left-0 right-0 bottom-0 p-8 py-2 border-2 border-yellow-900 bg-yellow-200 text-lg font-bold flex justify-between">
		<span>DRAFT</span>
		<span>DRAFT</span>
		<span>DRAFT</span>
	</div>
{{/if}}

<div class="blog w-full max-w-screen-xl mx-auto py-4 px-6 rounded-2xl bg-white">
	<div class="px-4 xl:px-0">
		<div class="mb-8 flex flex-row items-center text-sm text-zinc-500 space-x-1">
			<a href="/neuigkeiten" class="no-underline hover:underline">Neuigkeiten</a>
			<svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
			{{#if category}}
			<span>{{category}}</span>
			<svg class="w-3 h-3" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
			{{/if}}
			<span>{{title}}</span>
		</div>
		<div>
			<small class="text-black text-opacity-50 italic">
				{{#isBeforeToday date}}
					<span class="rounded-full px-2 py-0.5 bg-yellow-300 text-blue-900 text-xs">Publication date in {{daysFromNow date}} day(s) on {{date date 'dd. MMMM yyyy'}}</span>
				{{else}}
					{{date date 'dd. MMMM yyyy'}}
				{{/isBeforeToday}}
			</small>
		</div>
		<h1 class="text-4xl">
			{{title}}
		</h1>
		<div class="mt-8 text-lg">
			{{{ content }}}
		</div>
	</div>
</div>
