<!DOCTYPE html>
<html lang="de">

<head>
  {{> google-tag-manager-head}}
  {{> meta}}
	{{#if description}}
	<meta
		property="og:description"
		content="{{description}}"
	/>
	<meta
		name="description"
		content="{{description}}"
	/>
	{{/if}}
	<title>
		{{#if title}}{{title}} | {{/if}}urlaubsverwaltung.cloud
	</title>
	<link rel="preload" href="/static/font/raleway/Raleway-SemiBold.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="preload" href="/static/font/raleway/Raleway-Bold.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="preload" href="/static/font/lato/Lato-Regular.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="preload" href="/static/font/lato/Lato-Bold.woff2" as="font" type="font/woff2" crossorigin />
	<link rel="preload" href="https://support.apps.urlaubsverwaltung.cloud/assets/chat/chat.css" as="style" />
	<link rel="stylesheet" href="/static/css/style.css" />
	{{#each stylesheets}}
		<link rel="stylesheet" href="{{this}}" />
	{{/each}}
	{{> partials/font-raleway }}
	{{> partials/font-lato }}
</head>

<body class="flex flex-col min-h-full {{backgroundColor}}">
	{{> google-tag-manager-body}}
	{{> partials/top-anchor }}
	<div class="flex-1">
		{{{ content }}}
	</div>
	{{> partials/footer }}
	{{> partials/to-top-button }}

	<script async defer data-domain="urlaubsverwaltung.cloud" src="https://plausible.io/js/script.js"></script>

	<script defer src="/static/js/common.js" type="module"></script>
	{{> partials/support-chat}}
</body>

</html>
